@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* font-family: 'Kumbh Sans', sans-serif;
400 e 700 
*/

:root {
    /* ### Primary */
    /* #### Text */
    --very_dark_desaturated_blue: hsl(238, 29%, 16%);
    --soft_red: hsl(14, 88%, 65%);
    /* #### Background gradient: */
    --soft_violet: hsl(273, 75%, 66%);
    --soft_blue: hsl(240, 73%, 65%);
    /* ### Neutral
       #### Text */
    --very_dark_grayish_blue: hsl(237, 12%, 33%);
    ---dark_grayish_blue: hsl(240, 6%, 50%);
    /* #### Dividers */
    --light_grayish_blue: hsl(240, 5%, 91%);
    --white: white;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    height: 100%;
    background-image: linear-gradient(var(--soft_violet), var(--soft_blue));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.faq {
    display: flex;
    width: 70%;
    /* height: 300px; */
    margin: 10% auto;
    gap: 30px;
    align-items: center;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px var(--very_dark_grayish_blue);
}

.faq__images {
    display: flex;
    flex-direction: row;
    justify-self: end;
}


.faq__images--woman {
    width: 300px;
}

.faq__questions {
    margin: 0 20px;
}

.faq__questions h1{
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: black;
    padding: 20px 0;
}

.faq__questions h2, .faq__questions h3, .faq__questions h4, .faq__questions h5, .faq__questions h6 {
    color: var(--very_dark_grayish_blue);
    margin: 15px 0;
}

.faq__questions--one, .faq__questions--two, .faq__questions--three, .faq__questions--four, .faq__questions--five {
    border-bottom: 1px solid var(--light_grayish_blue);
}

.faq__questions--one--question, .faq__questions--two--question, .faq__questions--three--question, .faq__questions--four--question, .faq__questions--five--question {
    display: grid;
    grid-template-columns: 300px 10px;
    gap: 20px;
}

.faq__questions--one--question img, .faq__questions--two--question img, .faq__questions--three--question img, .faq__questions--four--question img, .faq__questions--five--question img {
    width: 10px;
    height: 7px;
    place-self: center;
}

.faq__questions p {
    color: var(---dark_grayish_blue);
    display: none;
}

.attribution {
    font-size: 11px;    
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 5px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}